In [2]:
import numpy as np
import pandas as pd 
import statsmodels.api as sm
import statsmodels.formula.api as smf
import seaborn as sns
from sklearn.preprocessing import scale 
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.metrics import roc_auc_score,roc_curve
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier



from warnings import filterwarnings
filterwarnings('ignore')

In [5]:
diabets=pd.read_csv("/Users/ahmet/Library/Containers/com.microsoft.Excel/Data/Downloads/diabetes_012_health_indicators_BRFSS2015.csv")

In [7]:
df=diabets.copy()

In [24]:
diabets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253680 entries, 0 to 253679
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Diabetes_012          253680 non-null  float64
 1   HighBP                253680 non-null  float64
 2   HighChol              253680 non-null  float64
 3   CholCheck             253680 non-null  float64
 4   BMI                   253680 non-null  float64
 5   Smoker                253680 non-null  float64
 6   Stroke                253680 non-null  float64
 7   HeartDiseaseorAttack  253680 non-null  float64
 8   PhysActivity          253680 non-null  float64
 9   Fruits                253680 non-null  float64
 10  Veggies               253680 non-null  float64
 11  HvyAlcoholConsump     253680 non-null  float64
 12  AnyHealthcare         253680 non-null  float64
 13  NoDocbcCost           253680 non-null  float64
 14  GenHlth               253680 non-null  float64
 15  MentHlth              253680 non-null  float64
 16  PhysHlth              253680 non-null  float64
 17  DiffWalk              253680 non-null  float64
 18  Sex                   253680 non-null  float64
 19  Age                   253680 non-null  float64
 20  Education             253680 non-null  float64
 21  Income                253680 non-null  float64
dtypes: float64(22)
memory usage: 42.6 MB

In [8]:
df.head()

,Diabetes_012,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0
2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0
3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0
4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0

In [11]:
df.shape

(253680, 22)

In [13]:
y = df['Diabetes_012']
X = df.drop(['Diabetes_012'],axis=1)

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.30, 
                                                    random_state=42)

In [16]:
from sklearn.preprocessing import StandardScaler

In [17]:
scaler = StandardScaler()

In [18]:
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [19]:
X_test_scaled[0:5]

array([[-0.86592584, -0.85692878,  0.1971837 , -1.11462237, -0.89235173,
        -0.20549668, -0.32321159, -1.76459436,  0.75909525,  0.48148954,
        -0.24392086,  0.22739866, -0.30325285,  0.45604256, -0.02598692,
         0.31427973, -0.44993078, -0.88635016, -0.33734834, -1.06301247,
        -1.95331647],
       [ 1.15483331,  1.16695813,  0.1971837 , -0.05733288, -0.89235173,
        -0.20549668, -0.32321159,  0.56670248,  0.75909525,  0.48148954,
        -0.24392086,  0.22739866, -0.30325285,  0.45604256, -0.42994252,
        -0.48710156, -0.44993078, -0.88635016,  1.62742539,  0.96341211,
        -0.02434354],
       [-0.86592584, -0.85692878,  0.1971837 , -0.6614983 , -0.89235173,
        -0.20549668, -0.32321159,  0.56670248,  0.75909525,  0.48148954,
        -0.24392086,  0.22739866, -0.30325285, -1.41469167, -0.42994252,
        -0.48710156, -0.44993078,  1.12822228, -2.30212207, -1.06301247,
         0.45789969],
       [-0.86592584, -0.85692878,  0.1971837 , -0.20837423,  1.12063435,
        -0.20549668, -0.32321159,  0.56670248, -1.31735773,  0.48148954,
         4.09969034,  0.22739866, -0.30325285, -0.47932455, -0.02598692,
        -0.48710156, -0.44993078,  1.12822228, -1.97465978, -1.06301247,
         0.45789969],
       [-0.86592584,  1.16695813,  0.1971837 ,  0.39579119,  1.12063435,
        -0.20549668, -0.32321159, -1.76459436,  0.75909525,  0.48148954,
        -0.24392086,  0.22739866,  3.29757821,  1.39140968,  3.20565785,
         2.60394055,  2.22256412, -0.88635016, -0.00988605, -2.07622476,
        -1.95331647]])

In [20]:
from sklearn.neural_network import MLPClassifier

In [21]:
mlpc = MLPClassifier().fit(X_train_scaled, y_train)

In [22]:
y_pred = mlpc.predict(X_test_scaled)
accuracy_score(y_test, y_pred)

0.8473404814464417